
	@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Open+Sans:wght@600&display=swap');

	@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');
:root{
	--color: #fffbf7;
	--flex-col:colum;
	
}

	body {
		background-color: #fffbf7;
	}

	h1 {
		color: #025157;
		font-size: 45px;
	}

	h4 {
		color: #46484c;
	}

	p {
		color: #8b8b8bcc;
		font-family: verdana;
		font-size: 20px;
	}

	button {
		color: #fff;
		background-color: #025157;
	}

	.header{
		margin: 0px 0px 40px;
		font-size: 0px; 
		line-height: 45px;
		font-family: sans-serif;
		position: fixed;
		top: 0;
		background-color: beige;
		box-shadow: 0px 16px rgba(0, 0, 0, 0.5);
	}

	li{
		display: inline;
	}

	header >*{
		display: inline-block;
		font-size: 16px;
		vertical-align: middle;
		height: 100%;
	}

	.logo {
		width: 15%;
	}
	/* los hijos de logo de etiqueta img van a tener el mismo estilo*/
	.logo > img {
		width:50%;
	}
	.publish h3 {
		font-family: "Alegreya", serif;
		font-size: 40px;
		line-height: 48px;
		color: #025157;
	}
	.publish > p {
		font-size: 16px;
		color: #343434;
		line-height: 1.5;
		margin-bottom: 20px;
		gap:20;
		display: flex;
	}
	.promo {
		display: flex;
		max-width: 70%;
		margin: 100px auto;
		align-items: center;
		gap: 12px;
	}
	
	.video {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.video img {
		width: 120px;
		margin-top: 10px;
	}
	
	.publish {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	

	.navbar{
		text-align: center;
		font-weight: 500;
	}

	.actions{
		display: flex;
		gap: 12px;
		align-items: center;
		font-weight: 600;
		text-align: right;
	}
	.main{
		margin-top: 140px;
		text-align: center;
		align-items: center;
	}
	.menu{
		font-size: 14px;
		padding: 25px;
		color: #025157;
		font-family: sans-serif;

	}
	.button{
		color:white;
		background-color: #67b54b;
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 12px;
		padding-bottom: 12px;
		border: 0;
		border-radius: 5px;
	}

	.a{
		color:#67b54b;
		font-size: 14px;
		font-family: sans-serif;
		margin: 0px 10px;
	}
	/*.feature{
		margin-bottom: 200px;
		display: grid;
		height: 600px;
		/*grid-template-columns: repeat(2, 1fr);*/
		/*grid-template-rows: repeat(2, 330px);*/
		/*grid-template-rows: 1fr 1fr;*/
		/*grid-template-rows: repeat(2, 1fr);*/
		/*grid-template: repeat(2, 330px) / repeat(2,1fr);
	}

	/*pseudo clases actua sobre selectores de tipo etiqueta*/
	/*button:active, button:hover{
		background-color: blue;
		cursor: pointer;
	}*/

	.features {
		display: flex;
		background-color:  #025157;
		padding: 5% 10%;
		display: grid;
		grid-template: repeat(2, 330px) / repeat(2, 1fr);
	}
	
	.features .seccion {
		margin-bottom: 30px;
		margin-left: 15px;
		margin-right: 15px;
		background-color: #fff;
		border: 1px solid #dadada;
		border-radius: 5px;
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	
	.features .seccion .icono2 {
		padding: 30px 20px 40px 40px;
		flex: 1;
	}
	
	.features .seccion .icono2 > * {
		margin-bottom: 1rem;
		margin-top: 0;
	}
	
	.features .seccion .icono2 img {
		width: 50px;
	}
	
	/*
	.features .seccion .icono2 h3 {
		font-size: 24px;
		color: #343434;
		font-weight: 400;
	}
	
	
	.features .seccion .icono2 p {
		font-size: 16px;
		color: #7e7e7e;
		font-weight: 400;
	}
	
	
	.features .seccion .icono2 a {
		font-size: 16px;
		color: #67b54b;
		font-weight: 600;
		text-decoration: none;
	}
	
	
	.features .seccion .logo {
		flex: 1;
		width: 40%;
		position: relative;
		right: -50px;
		height: 40%;
	}*/
	
	.features .seccion .logo figure,
	.features .seccion .logo img {
		margin-top: 0;
		height: 100%;
	}

	.success-stories {
		background-color: #A1D683;
		padding: 5% 15%;
		display: flex;
		gap: 20px;
		justify-content: space-around;
	}
	
	.success-stories .overview {
		flex: 2;
	}
	
	.success-stories .overview h2 {
		font-size: 48px;
		line-height: 54px;
		color: #925157;
	}
	
	.success-stories .overview p {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 1rem;
		color: #343434;
	}
	
	.success-stories .overview button {
		font-size: 14px;
		padding: 12px 12px 6px 12px;
		border-radius: 8px;
		height: 45px;
		font-weight: 600;
		margin-left: 0;
	}
	
	.success-stories .overview img {
		width: 500px;
		max-width: 100%;
	}
	
	.success-stories .stories-carousel {
		flex: 1;
	}
	
	/* Cambiamos el alto mínimo de la tarjeta, para que se vea bien en responsive */
	.success-stories .card {
		max-width: 370px;
		width: 100%;
		min-height: 600px;
		margin: 0 auto;
	}
	
	/* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */
	.success-stories .card img {
		max-height: 30vh;
		object-fit: cover;
	}
	
	/* Agregamos position: relative para recibir un elemento con position:absolute más adelante */
	.success-stories .card .card-body {
		max-width: 370px;
		width: 100%;
		position: relative;
		padding: 40px 1rem 1rem;
	}
	
	/* Estos son los estilos para textos y acomodo de elementos */
	.success-stories .card .card-body h4 {
		color: #025157;
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 12px;
		font-family: "Slabo 27px", serif;
		font-family: "Open Sans", sans-serif;
	}
	
	.success-stories .card .card-body h3 {
		font-size: 25px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 20px;
		font-family: "Open Sans", sans-serif;
	}
	
	.success-stories .card .card-body .results {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	
	.success-stories .card .card-body .results img {
		width: 26px;
		margin-right: 20px;
	}
	
	.success-stories .card .card-body .results p {
		margin: 0;
	}
	
	.success-stories .card .card-footer button {
		display: block;
		margin-left: 0;
		border-radius: 5px;
		font-size: 13;
		font-weight: 600;
		padding: 12px 20px;
		width: 100%;
		background-color: #025157;
		color: #fff;
		border: none;
	}
	
	.success-stories .card .card-footer {
		background-color: #ffffff;
		color: #fff;
		border: none;
	}
	
	/* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
	.success-stories .card .card-body .card-circle {
		display: flex;
		align-items: center;
		position: absolute;
		top: -45px;
		right: 20px;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		padding: 5px;
	}
	
	/* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
	.success-stories .card .card-body .card-circle.everly {
		background-color: #f9da73;
		border: 5px solid #f9da73;
	}
	
	/* Los círculos deben recibir la imagen y ajustarla al tamaño */
	.success-stories .card .card-body .card-circle.everly img {
		object-fit: contain;
		width: 100%;
	}

	.accordion-header h2{
		color: red;
		font-family: Arial, Helvetica, sans-serif;
	}

	.accordion-button:after{
    width: 0px;
}

	.accordion-button:not{
		
	}




	@media(max-width: 575px){
		/*.navbar, .actions {
			display: none;
		}*/
		.main{
			margin-top: 80px;
		}
		h1{
			font-size: 25px;
		}
		.main img{
			width: 100%;
		}
		.video{
			width: 100%;
		}

		.promo{
			flex-direction: column;
		}
		.poster, .video img{
			width: 100%;
		}
		.publish h3{
			font-size: 25px;
		}
		.publish p{
			line-height: 24px;
		}
		.features{
			/*flex-direction: column;*/
			grid-template-columns: auto;
		}
		.logo{
			display: none;
		}
		
		
	}

	

	@media ((min-width: 576px) and (max-width: 767px )){
		body{
			background-color: yellow;
		}
		.video img{
			width: 100%;
		}
	}

	/*@media ((min-width: 768px) and (max-width: 991px )){
		body{
			
		}
		
	}

	@media ((min-width: 992px) and (max-width: 1199px )){
		body{
			
		}
		
	}*/
		
	
	h1, h2, h3, h4, h5, h6{
		font-family: "Alegreya", sans-serif;
	}
	

